{
  "parser": "@babel/eslint-parser",

  "ignorePatterns": "webpack",

  "extends": ["airbnb", "airbnb/hooks", "prettier"],

  "env": {
    "browser": true,
    "node": true
  },

  "rules": {
    "react/react-in-jsx-scope": ["off"],
    "no-param-reassign": ["off"],
    "jsx-a11y/click-events-have-key-events": ["off"],
    "jsx-a11y/no-static-element-interactions": ["off"],
    "jsx-a11y/no-noninteractive-element-interactions": ["off"],
    "react/forbid-prop-types": ["warn", { "forbid": [] }]
  }
}
