@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #B762C1;
  color: #fff;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}

input {
  border: 0;
}

button:focus,
input:focus {
  outline: 0;
}

.w-960 {
  max-width: 960px;
  margin: 0 auto;
}

.message.error {
  color: rgb(102, 13, 13);
  font-weight: 700;
}

.message.success {
  color: rgb(15, 219, 15);
  font-weight: 700;
}
